body.home-page{
 text-align: left;
 background-image: url("../imgs/pexels-photo-315458.jpeg");
 height: 100%;
 background-repeat: no-repeat;
 background-size: cover;
}

.navbar{
 background-color:transparent;
}

#navbar-container {
 padding: 20px;
 background: rgba(0,0,0,.3);
 width: 100%;
 height: 100px;
}

.navbar-brand img{
 padding: 0;
 max-width: 200px;

 margin-left:1100px;
}


.home-page .header-title{
 text-align: center;
 padding-top: 10%;
 //padding-left: 0%;
 //color:#8B4513;
 font-family:Arial Rounded MT Bold;
 font-size: 24;
}
#header-section{
  padding-left: 0px;
  padding-right: 100px;
}
.container-fluid{
  margin-right: 0px;
}

.header-title{
 margin-left: 0px;
 margin-top: 0px;
}

.text-justify{
  padding-top: 2%;
 padding-left: 23%;
 font-size: 20px;
 font-family: Arial Rounded MT Bold;
 font-size: 12;

}

.information{
 margin-left: 200px;
 width:300px;
 height: 40px;
 background-color: #e3eaa7;
 color: black;
 }

 #buySell ul {
  background-color: transparent;
  color: white;
  margin-left: 40px;
 }
.text-dark{
  color: #e6e2d3;
}
.btn-empty{
  color: #e6e2d3;
}
.image-handshake{
  margin-left: 25%;
}
